/* varialbes */
:root {
  --primaryHEX: #800080;
  --primaryRGBA: rgba(128, 0, 128, 1);
  --secondaryHEX: #008040;
  --secondaryRGBA:rgba(0, 128, 64, 1);
  --tertiaryHEX: #408000;
  --tertiaryRGBA: rgba(64, 128, 0, 1);
  --shadow: 2px 2px 4px 2px var(--secondaryRGBA);
}

/* loading spinner */
.loadSpinner:before {
  content: "";
  box-sizing: border-box;
  position: fixed;
  top: 20%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  border-top: 2px solid var(--primaryHEX);
  border-right: 2px solid transparent;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/* end spinner */

.hide {
  display: none;
}

#content {
  display: grid;
  text-align: center;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

#languages {
  text-align: center;
  display: grid;
  grid-gap: 1rem;
}

#default, #translations, #characters {
  box-shadow: var(--shadow);
}

p[class*='firstLetter']::first-letter {
  font-size: 1.5rem;
}

@media (max-width: 579px) {
  #languages {
    /* screen smaller than 580px, one column wide */
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@media (min-width: 580px) {
  #languages {
    /* screen size larger than 580px, 3 columns side by side */
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}